.container {
  max-width: 96rem;
  padding-left: .5rem;
  padding-right: .5rem;
  position: relative;
  z-index: 2;
}

.inlineContainer {
  margin-left: 0rem;
}

.star--filled {
  color: #FFB100;
}

.star--empty {
  color: #FFB100;
}

.reviewsHeading{
  margin-top: 0;
}
